<h1>Page de l'événement</h1></div>

<p>Nom de l'événement : <%= @event.title %></p>
<p>Date de l'événement : <%= @event.start_date %></p>
<p>Durée de l'événement : <%= @event.duration %> min</p>
<p>Prix : <%= @event.price %></p>
<p>Organisateur de l'événement : <%= @event.administrator.first_name %> <%= @event.administrator.last_name %></p>